##### Python Assignment: Student Grade Management System

---
<center>Problem: Write a Python program that allows a teacher to manage student grades. The program should perform the following tasks: </center>

* Add a new student: The teacher can input a student's name and their grades for three subjects (e.g., Math, Science, English). Store the studentâ€™s information in a list of dictionaries. <br>

* Display student details: The teacher can view the details of all students, including their names, grades, total marks, and average grade. <br>

* Find the top student: Identify the student with the highest total marks. <br>

* Calculate the class average: Compute and display the average marks for the class across all students. <br>

In [1]:
def grade(grd):
    if grd >= 70:
        return("A")
    elif grd <70 and grd >=60:
        return("B")
    elif grd < 60 and grd >=45:
        return('c')
    elif grd < 45 and grd >= 40:
         return("D")
    elif grd < 40 and grd >= 30:
         return("E")
    else:
        return("F")

    return(grd)

In [17]:
# create a program that will allow the teacher to add and store result
Students_details = []# where results would be stored
def Add_to_record():
    
    Name= input("Enter student name: ")
    Math_grade= int(input("Enter math score "))
    Eng_grade = int(input("Enter English score "))
    Science_grade = int(input("Enter science score "))
    Total_Marks = (Math_grade + Eng_grade +  Science_grade)
    Average = (Total_Marks //3 )
    
    student_info= {"Student_name": Name,
                   "Maths_grade":Math_grade, 
                    "English_grade":Eng_grade, 
                    "Sci_grade":Science_grade,
                    "Total_marks":Total_Marks,
                    "Average_grade": Average, 
                    "Grade_point": grade(Average)}
    Students_details.append(student_info)
    print()
    print("Record added sucessfully. Full description below:\n",student_info)
    Question = input("Add another record? (y/n)")
    if Question.upper() == "Y":
        Add_to_record()
    else:
        print("Bye")

In [18]:
#testing our function
Add_to_record()

Enter student name: ayo
Enter math score 70
Enter English score 60
Enter science score 80

Record added sucessfully. Full description below:
 {'Student_name': 'ayo', 'Maths_grade': 70, 'English_grade': 60, 'Sci_grade': 80, 'Total_marks': 210, 'Average_grade': 70, 'Grade_point': 'A'}
Add another record? (y/n)y
Enter student name: jeff
Enter math score 80
Enter English score 80
Enter science score 80

Record added sucessfully. Full description below:
 {'Student_name': 'jeff', 'Maths_grade': 80, 'English_grade': 80, 'Sci_grade': 80, 'Total_marks': 240, 'Average_grade': 80, 'Grade_point': 'A'}
Add another record? (y/n)n
Bye

In [20]:
Students_details

[{'Student_name': 'ayo',
  'Maths_grade': 70,
  'English_grade': 60,
  'Sci_grade': 80,
  'Total_marks': 210,
  'Average_grade': 70,
  'Grade_point': 'A'},
 {'Student_name': 'jeff',
  'Maths_grade': 80,
  'English_grade': 80,
  'Sci_grade': 80,
  'Total_marks': 240,
  'Average_grade': 80,
  'Grade_point': 'A'}]

In [21]:
# Creating a function that checks the top student
def top_student():
    if Students_details:
        top_student = Students_details[0]
        for b in Students_details:
            if b['Total_marks']> top_student['Total_marks']:
                top_student = b
        print(f"Top Student: {top_student['Student_name']}")
        print(f"Top Mark: {top_student['Total_marks']}")
    else:
        print("No students added yet.")

In [22]:
Students_details[0]

{'Student_name': 'ayo',
 'Maths_grade': 70,
 'English_grade': 60,
 'Sci_grade': 80,
 'Total_marks': 210,
 'Average_grade': 70,
 'Grade_point': 'A'}

In [7]:
studentsx = ['ayo']

if studentsx:
    print('not empty')
else:
    print('empty')

not empty

In [8]:
studentsx = ['ayo']

if len(studentsx) > 0:
    print('not empty')
else:
    print('empty')

not empty

In [16]:
top_student()

Top Student: jeff
Top Mark: 240

In [25]:
def class_average():
    total_marks = 0
    for record in Students_details:
        total_marks += record['Total_marks']
    class_avg = total_marks // len(Students_details)
    print("The class average is:", class_avg)

In [26]:
class_average()

The class average is: 225

In [18]:
def overall():
    Que2 = int(input("Enter 5 to view all students record\nEnter 6 to check top student\nEnter 7 to check class average"))
    if Que2 == 5:
        print()
        print(Students_details)
    if Que2 == 6:
        print()
        top_student()
    if Que2 == 7:
        print()
        class_average()
    else:
        print("invalid input")

In [19]:
overall()

Enter 5 to view all students record
Enter 6 to check top student
Enter 7 to check class average6

Top Student: ayo
Top Mark: 288
invalid input

In [20]:
overall()

Enter 5 to view all students record
Enter 6 to check top student
Enter 7 to check class average7

The class average is: 226

In [22]:
overall()

Enter 5 to view all students record
Enter 6 to check top student
Enter 7 to check class average5

[{'Student_name': 'ope', 'Maths_grade': 98, 'English_grade': 67, 'Sci_grade': 65, 'Total_marks': 230, 'Average_grade': 76, 'Grade_point': 'A'}, {'Student_name': 'ayo', 'Maths_grade': 98, 'English_grade': 96, 'Sci_grade': 94, 'Total_marks': 288, 'Average_grade': 96, 'Grade_point': 'A'}, {'Student_name': 'ola', 'Maths_grade': 45, 'English_grade': 79, 'Sci_grade': 94, 'Total_marks': 218, 'Average_grade': 72, 'Grade_point': 'A'}, {'Student_name': 'ayoka', 'Maths_grade': 56, 'English_grade': 78, 'Sci_grade': 92, 'Total_marks': 226, 'Average_grade': 75, 'Grade_point': 'A'}, {'Student_name': 'Amani', 'Maths_grade': 98, 'English_grade': 94, 'Sci_grade': 96, 'Total_marks': 288, 'Average_grade': 96, 'Grade_point': 'A'}, {'Student_name': 'Ajoke', 'Maths_grade': 56, 'English_grade': 54, 'Sci_grade': 23, 'Total_marks': 133, 'Average_grade': 44, 'Grade_point': 'D'}, {'Student_name': 'oyin', 'Maths_grade': 45, 'English_grade': 67, 'Sci_grade': 89, 'Total_marks': 201, 'Average_grade': 67, 'Grade_point': 'B'}]
invalid input